
.inst {
  float: right;
  border: 2px solid black;
  width: auto;
  height: 500px;
  width: 400px;
  margin: 20px;
}

h1 {
  text-align:center;
}

#totalfor2 p{
  display:none;
}

#player2div #player2second img{
  display: none;
}
#player2div #player2second{
  background-image: url("PNG/blue_back.png");
  background-size: cover;
}


.main {
  float: left;
  margin: 20px;
  height: 500px;
  width: 500px;
  background-image: url('background.jpg');
  background-size: cover;
}

.totalscover {
  width: 100%;
  display: inline-block;
}

.totals {
  float: left;
  font-weight: bold;
  margin-left: 30px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.totals2 {
  float: right;
  font-weight: bold;
  margin-right: 60px;
  color: white;
  text-shadow: 1px 1px 5px black;
}


.playercard {
  display: table-cell;
  width: 80px;
  height: 120px;
  float:left;
}

#player1div {
  display: table-cell;
  width: 40%;
  float:left;
  height: 100%;
  margin-left: 45px;
}

#player2div {
  display: table-cell;
  width: 40%;
  float:right;
  height: 100%;
}

.cards {
  width:80px;
  float: left;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
}

.cover {
  margin-top: 0px;
  min-height: 200px;
  max-height:100%;
  margin:10px;
}


.buttonselect {
  display: flex;
  justify-content: center;

}

.buttonreset {
  width: 100px;
  float: left;
}

.buttonhit {
  width: 100px;
  float: left;
}

.buttonstand {
  width: 100px;
  float: left;
}
